node_modules
jspm_packages
dist
stubs
src/vendor
lib/browser/wrap
test/polyfills
test/vendor
test/saucelabs-browsers.js
test/specs/server/compiler/fixtures
test/specs/server/compiler/expect
test/specs/server/compiler/parsers/js
test/performance/db-monster
*.hbs
hbs
*hbs
views/*
assets/vendor