selenium/tests/config.inc.php
tests/selenium/config.test.php
*sublime*
.php.tools.ini
.*.sh
sftp-config*
config.*.php*
!config.inc.php-dist
!tests/config*

vendor
!assets/vendor

*.log
fabfile*
/.idea/*
phppga
.php_cs.cache

playground
node_modules

temp/sessions/*

config.inc.php
config.yml
tests/_output
debug.*.php
