includes:
    - phpstan-baseline.neon

parameters:

	
	paths:
		- src
	
	tmpDir: ./.build/phpstan

	# The level 8 is the highest level
	level: 2
	
	scanFiles:
		- vendor/adodb/adodb-php/adodb.inc.php
		- .configs/debug.kint.php
		- src/lib.inc.php
		- config.inc.php
		- vendor/adodb/adodb-php/drivers/adodb-postgres9.inc.php

	excludes_analyse:
		- .build/*
		- tests/*
		- assets/*
		- temp/*
		- vendor/*
		- src/classes/ADO*		
		- src/router.php

	treatPhpDocTypesAsCertain: false
