@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);




/**
 * Default style sheet
 */


/** ELEMENTS */

body {
    background-color: #F5F5F7;
    margin: 0;
    font-family: roboto;
    padding: 0;
    font-size: smaller;
    /*0.8em;*/
}

body.browser {
    background-color: #efefef;
    font-family: roboto;
    font-size: smaller;
    /*1em;*/
    border-right: 1px dashed #c0c0c0;
}

body.bottombar {
    background-color: #b0bec5;
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    font-size: smaller;
    /*1em;*/
    text-align: left;
}

h2 {
    color: #336699;
    font-size: medium;
    /*1.3em;*/
    font-family: roboto;
    font-weight: bold;
    border: 2px solid #cfd8dc;
    background-color: #eceff1;
    padding: 2px 1em;
    margin: 0 0 1ex 0;
}

h3 {
    color: #336699;
    font-size: small;
    font-family: roboto;
    font-weight: bold;
}

table.error {
    background-color: #cfd8dc
}

table.error td {
    background-color: #cfd8dc
}

table.navbar {
    background-color: #cfd8dc
}

table.navbar td {
    height: 25px;
    color: #000000;
    background-color: #eceff1;
    text-align: center;
    font-family: roboto;
    font-size: smaller;
    /* 0.9em */
    font-weight: bold;
}

table.navbar td.active {
    background-color: #cfd8dc
}

th.data {
    color: #000000;
    background-color: #cfd8dc;
    font-family: roboto;
    font-size: 1em;
    padding: 2px 4px;
}

th.data a:active,
th.data a:link,
th.data a:visited,
th.data a:hover {
    font-weight: bold;
}

td.dat {
    color: #ff0;
    text-align: center;
}

th.required {
    text-decoration: underline
}

td.topbar {
    background-color: #b0bec5;
    margin: 0px 0px;
    padding: 0px;
    font-family: roboto;
    font-size: smaller;
    /*0.8em;*/
    text-align: left;
}

.topbar .toplink {
    margin-right: 20px;
}

ul.toplink,
ul.navlink {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navlink {
    margin: 20px 0
}

ul.toplink li,
ul.navlink li {
    display: inline;
    border-left: 1px solid #000000;
    margin: 0;
    padding: 0 2px 0 5px;
}

ul.toplink li:first-child,
ul.navlink li:first-child {
    border: none;
    padding-left: 0;
}

tr.data1,
tr.data2,
tr.data3 {
    color: #000000;
    font-family: roboto;
    font-size: smaller;
    /*0.8em;*/
}

tr.data1:hover,
tr.data2:hover,
tr.data3:hover {
    background-color: #DDD;
}

.row1,
.data1 {
    background-color: #eceff1;
    text-align: left;
}

.row2,
.data2 {
    background-color: #cfd8dc;
    text-align: left;
}

.row3,
.data3 {
    background-color: #eceff1
}

td.opbutton1 {
    color: #000000;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #706D41;
    border-bottom: 1px solid #706D41;
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    font-family: roboto;
    font-size: smaller;
    /*0.8em;*/
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

td.opbutton2 {
    color: #000000;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #706D41;
    border-bottom: 1px solid #706D41;
    border-left: 1px solid #FFFFFF;
    cursor: pointer;
    font-family: roboto;
    font-size: smaller;
    /*0.8em;*/
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.topbar {
    border: 2px solid #b0bec5
}

.topbar,
.topbar * {
    background-color: #b0bec5;
}

.topbar .platform,
.topbar .host,
.topbar .username {
    font-weight: bold;
}

.topbar,
.trail {
    margin-bottom: 2px;
}

.topbar,
.trail,
.tab {
    padding: 2px 1ex;
    font-size: smaller;
}

.trail,
.tab {
    border: 2px solid #cfd8dc;
    background-color: #eceff1;
}

.trail .crumb {
    background-color: #eceff1
}

.crumb,
.tab {
    vertical-align: top;
}

.crumb .icon {
    vertical-align: middle;
    margin: 0 2px;
}

table.tabs {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1ex;
}

.tab {
    text-align: center
}

.tabs .active {
    background-color: #cfd8dc
}

.tab .icon {
    display: inline-block;
    position: relative;
    left: -5px;
    bottom: -3px;
}

.popup_select1 label {
    float: left;
}

.popup_select1 select {
    float: left;
    margin-left: 5px;
    max-width: 400px;
}

.sqlform p {
    float: left;
}

.popup_select1 label {
    float: left;
}

.popup_select1 select {
    float: left;
    margin-left: 5px;
    max-width: 400px;
}

.sqlform p {
    float: left;
}





/*.tab .label {
    display: inline-block;
    float: left;
}*/

a:active {
    color: #989973;
    font-family: roboto;
    font-weight: normal;
    text-decoration: underline;
}

a,
a:link {
    color: #336699;
    font-family: roboto;
    text-decoration: none;
}

a:visited {
    color: #336699;
    font-family: roboto;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
    font-family: roboto;
    text-decoration: none;
}

a.navlink:link,
a.toplink:link,
ul.navlink li a,
ul.toplink li a {
    color: #336699;
    font-family: roboto;
    font-weight: bold;
    text-decoration: none;
}

a.navlink:visited,
a.toplink:visited,
ul.navlink li a:visited,
ul.toplink li a:visited {
    color: #336699;
    font-family: roboto;
    font-weight: bold;
    text-decoration: none;
}

a.navlink:hover,
a.toplink:hover,
ul.navlink li a:hover,
ul.toplink li a:hover {
    color: #cc0000;
    font-family: roboto;
    font-weight: bold;
    text-decoration: none;
}

a.navlink:active,
a.toplink:active,
ul.navlink li a:active,
ul.toplink li a:active {
    color: #cc0000;
    font-family: roboto;
    font-weight: bold;
    text-decoration: none;
}

.active a {
    font-weight: bold
}

a.help {
    color: #E68800;
    font-size: smaller;
    vertical-align: super;
    text-decoration: none;
}

pre {
    font-size: 110%
}

pre.data {
    font-family: roboto;
    font-size: 100%;
}

pre.error {
    font-family: "Lucida Console", "Courier New", "DejaVu Sans Mono", monospace;
    font-size: 120%;
}

.intro li {
    font-weight: bold
}

.ac_field {
    border: 1px solid #D9D95F
}

.bottom_link {
    background: #eee;
    border-top: 1px dotted #999;
    border-left: 1px dotted #999;
    font-size: smaller;
}





/** FK browsing **/

div#root>div.fk {
    border: 1px solid #000;
}

div.fk {
    background: #fff;
    border-left: 1px solid #000;
    padding: 5px;
}

div.logo {
    background-color: #b0bec5;
    margin: 0px;
    padding: 0px;
    font-family: roboto;
    font-size: smaller;
    /* 1em; */
    border: none;
    border-bottom: 2px solid #999;
    margin-bottom: 2px;
    background-image: url('../../../images/themes/default/title_blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
}

div.logo a {
    display: block;
    height: 100%;
    color: transparent;
}