<script type="text/javascript">
var dir = '{{lang.applangdir}}';

jQuery('#browser_container').resizable({
	handles: (dir === 'ltr') ? "e" : "w",
	start: function () {
		jQuery('#masking_overlay').css('display', 'block');
	},
	stop: function () {
		jQuery('#masking_overlay').css('display', 'none');
	}

});
$( "#tabs" ).tabs();

window.onpopstate = function (event) {
	console.log('onpopstate', {
		state: event.state
	});
	if (event.state && event.state.realurl) {
		var ifr = document.getElementById('detail')
		ifr.contentWindow.location.replace(event.state.realurl);
	}
};

        $('.refreshTree').on('click',function(e) {
            $('#lazy').jstree().refresh();
        })
        $('#lazy').jstree({
            "state": {
                "key": "jstree"
            },
            "plugins": ["state"],
            'core': {
                'data': {
                    "url": function (node) {
                        if (node.id === '#') {
                            return '{{subfolder}}/src/views/browser?action=tree';
                        } else {
                            return node.original.url;
                        }
                    }
                }
            }
        });
        

        $('#lazy').on("activate_node.jstree", function (e, data) {
            if (window.parent.frames.detail) {
                window.parent.frames.detail.location.replace(data.node.a_attr.href);
            }
        });
        $('#lazy').on("loaded.jstree", function (e, data) {
            $('#lazy').data('jstree').show_dots();
        });
</script>
</body>

</html>