<script type="text/javascript">
var dir = '{{lang.applangdir}}';

window.onpopstate = function (event) {
	console.log('onpopstate', {
		state: event.state
	});
	if (event.state && event.state.realurl) {
		let ifr = document.getElementById('detail'),
		realUrl=event.state.realurl,
		 detailLocation=ifr.contentWindow.location.href;
		//console.log({detailLocation,realUrl});
		ifr.contentWindow.location.replace(event.state.realurl);
	}
};
if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{subdomain}}/assets/sw.dev.js').then(function(registration) {
        console.log('Service Worker Registered');
    }).catch(warn=>{
		console.warn(warn);
	})
}
</script>
</body>

</html>