{% include 'header.twig' %}

<body class="flexbox_body {{ lang.applangdir }}">
    

  <div class="flexbox_wrapper">
    <div id="masking_overlay"></div>
    <div id="browser_container">
      <div class="browser_container">
        <div class="browser" name="browser" id="browser">
          {% include 'components/browser_body.twig' %}
                    <script src="{{subfolder}}/assets/js/jstree_events.js">  </script>     

        </div>
      </div>
    </div>

    <iframe src="{{ subfolder }}{{ url }}" name="detail" id="detail" class="detail_container" frameborder="0" />
  </div>
  {% include 'footer_iframe.twig' %}
         

</body>
