<script type="text/javascript">
/* beautify preserve:start */
        /*if(window.parent.frames.length!==0) {
            console.log('should load '+"{{subfolder}}{{url}}");
        }*/
        /* beautify preserve:end */
var dir = '{{lang.applangdir}}';


jQuery('#browser_container').resizable({
	handles: (dir === 'ltr') ? "e" : "w"
});

window.onpopstate = function (event) {
	console.log('onpopstate', {
		state: event.state
	});
	if (event.state && event.state.realurl) {
		var ifr = document.getElementById('detail')
		ifr.contentWindow.location.replace(event.state.realurl);
	}
};
</script>
</body>

</html>