<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/src/themes/global.css" type="text/css" id="csstheme" />

<link rel="shortcut icon" href="/images/themes/default/Favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" type="image/png" href="/images/themes/default/Introduction.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" href="/js/codemirror/codemirror.css" />

<script src="/js/codemirror/codemirror.js"></script>
<script src="/js/codemirror/mode/sql/sql.js"></script>
<link rel="stylesheet" href="/js/codemirror/addon/hint/show-hint.css" />
<script src="/js/codemirror/addon/hint/show-hint.js"></script>
<script src="/js/codemirror/addon/hint/sql-hint.js"></script>

<link rel="stylesheet" href="/js/codemirror/addon/fold/foldgutter.css" />
<script src="/js/codemirror/addon/fold/foldcode.js"></script>
<script src="/js/codemirror/addon/fold/foldgutter.js"></script>
<script src="/js/codemirror/addon/fold/indent-fold.js"></script>

<title>phpPgAdmin - {{title}}</title>
